# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (C) 2025, Infineon Technologies AG, or an affiliate of
# Infineon Technologies AG. All rights reserved.

# Configuration script for TRAVEO™II C-2D-4M family of microcontrollers.
# TRAVEO™II C-2D-4M is a dual-core device with CM0+ and CM7 cores. All cores share
# the same Flash/RAM/MMIO address space.

# Reset configuration - use hardware XRES pin
# If this line is commented-out OpenOCD will use SYSRESETREQ to reset the CM0+ core and
# all peripherals. This will also reset CM7 cores.
#reset_config srst_only connect_deassert_srst

# The following four lines can be used to override Flash Geometry of the target device
# In this case configuration scripts will not perform any auto-detection and will use
# predefined values.
# If all these variables are set to zero, configuration scripts will attempt to detect
# the type of target device by reading SiliconID from SFlash and matching it with MPN
# database, see cympn.cfg file.
set MAIN_LARGE_SECTOR_NUM 126
set MAIN_SMALL_SECTOR_NUM 16
set WORK_LARGE_SECTOR_NUM 48
set WORK_SMALL_SECTOR_NUM 256

set TARGET_VARIANT TVIIC2D4M

set TRAVEO_VARIANT_C2D_4M 1

source [find target/infineon/cat1c/base_cytxxx.cfg]
