# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (C) 2024-2026, Infineon Technologies AG, or an affiliate of
# Infineon Technologies AG. All rights reserved.

# Configuration script for PSOC Control C3 family of microcontrollers.

set SERIES psc3
set TARGET_VARIANT BOY2

# Set default device to a0
if { ![info exists DEVICE] } {
	set DEVICE a0
}

# Set default board to generic. Alternatives: psvp
if { ![info exists BOARD] } {
	set BOARD generic
}

source [find target/infineon/cat1b/base_psc3.cfg]
