# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (C) 2025-2026, Infineon Technologies AG, or an affiliate of
# Infineon Technologies AG. All rights reserved.

# Configuration script for PSE8xxGxS2 devices (EPC 2 security)
# of PSOC™ Edge E81/E82/E83/E84 MCU series.
# Total NVM: 512 KB, Programmable: 356KB

set DEVICE PSE8xxGxS2
set TARGET_VARIANT PSE8xxGxS2
source [find target/infineon/pse84.cfg]
