# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (C) 2024-2026, Infineon Technologies AG, or an affiliate of
# Infineon Technologies AG. All rights reserved.

# Configuration script for PSOC™ Edge E81/E82/E83/E84 MCU series.

# Set default series to PSE84: superset for PSOC™ Edge E81/E82/E83/E84 MCU series
# Includes PSE8xxGP, PSE8xxGO, PSE8x2, PSE8x3, PSE8x5, and PSE8x6
set SERIES PSE84

# Set default device to PSE8xxGxS4 (total NVM: 512 KB, Programmable: 188KB, EPC 4 security)
if { ![info exists DEVICE] } {
	set DEVICE PSE8xxGxS4
	set TARGET_VARIANT PSE8xxGxS4
}

# Set default board to Generic
if { ![info exists BOARD] } {
	set BOARD Generic
}

source [find target/infineon/cat1d/base_cat1d.cfg]
