# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (C) 2024-2026, Infineon Technologies AG, or an affiliate of
# Infineon Technologies AG. All rights reserved.

# Common subroutines and definitions for ARM cores

namespace eval arm {

	###############################################################################
	# AP-DP Registers
	###############################################################################

	# AP->CSW: Control/Status Word register. Bits allocation for AMBA AHB 5
	# ---
	# [0:2] Size (Accesses Size): 000 - byte, 001 - halfword, 010 - word, ...
	# [5:4] AddrInc (Address auto-increment):   00 - Disabled, 01 - Increment-single, 10 - Increment-packed
	# [6] DeviceEn (Device enabled), READ-ONLY:  1 - Transactions enabled, 0 - The MEM-AP is not enabled
	# [7] TrInProg (Transfer in progress):       1 - A transfer is in progress, 0 - The connection to the memory system is idle
	# [11:8] Mode (Mode of MEM-AP operation): 0000 - Basic mode, 0001 - Barrier support enabled
	#                The set of supported modes is IMPLEMENTATION DEFINED. Can be READ-ONLY if only one mode suported.
	# [14:12] Type:  When memory tagging control is implemented, used with the Prot field to define the bus
	#                access protection control. IMPLEMENTATION DEFINED, depends on bus architecture.
	#                RES0 for AMBA AHB5 (with or without enhanced HPROT control)
	# [15] MTE (Memory Tagging control): When memory tagging control is implemented:
	#                1 - Memory tagging accesses enabled, 0 - disabled
	#                Drives HPROT[6] (Shareable) for AMBA AHB5 with enhanced HPROT control:
	#                1 - Indicates that transfer is to a memory region that is shared with other Managers.
	#                0 - Indicates that transfer is Non-shareable and the memory region is not shared with other Managers in the system.
	#                    Bit is ignored and must be zero for transfers to Device memory
	# [16] ERRNPASS: 0 - Errors are passed upstream, 1 - Errors are not passed upstream
	# [17] ERRSTOP:  0 - Memory access errors do not prevent future memory accesses, 1 - Errors prevent future memory accesses
	# [22:21] RMEEN (Realm and Root access status), OPTIONAL, READ-ONLY: 00 - Realm and Root accesses are disabled,
	#                01 - Realm access is enabled. Root access is disabled, 11 - Realm access is enabled. Root access is enabled
	#                Implemented if CFG.RME == 0b1, otherwise: Reserved, RES0.
	# [23] SDeviceEn (Secure Debug Enabled), OPTIONAL, READ-ONLY, RES0 if not implemented:
	#                0 - Secure access is disabled, 1 - Secure access is enabled
	#                If CSW.DEVICEEN is 0b0, SDEVICEEN is ignored and the effective value of SDEVICEEN is 0b1.
	#                In ADIv5 and older versions, this bit is "SPIDEN" and has the same meaning.
	# [28:24] HPROT[4:0] **for AMBA AHB5**:
	#    [24] HPROT[0] (Data/Inst):  1 - Data access, 1 - Instruction fetch
	#    [25] HPROT[1] (Privileged): 1 - Privileged access, 0 - Unprivileged access
	#    [26] HPROT[2] (Bufferable): 1 - Bufferable, Non-bufferable
	#    [27] HPROT[3] (Modifiable): 1 - Modifiable/Cacheable, 0 - Non-Modifiable/Non-Cacheable
	#                  The name of field is changed between revisions of AMBA AHB spec from Cacheable to Modifiable, but the definition remains
	#    [28] HPROT[4] (Lookup):     1 - The transfer must be looked up in a cache
	#                                0 - The transfer does not need to be looked up in a cache and must propagate to the final destination.
	#                               Bit available for AMBA AHB with enhanced HPROT control implementations, otherwise - RES0.
	#         HPROT[5] (Allocate) is always driven with the value 0 for AHB 5
	# [29] MasterType:  OPTIONAL, IMPLEMENTATION DEFINED. Permits the AHB-AP to mimic a second AHB Requester by driving HMASTER[3:0]
	#                1 - Drive HMASTER[3:0] with the bus transaction Requester ID for the AHB-AP.
	#                0 - Drive HMASTER[3:0] with the bus transaction Requester ID for the second bus transaction Requester.
	#                If this function is not implemented, the field is RES0.
	# [30] HNONSEC (SPROT): 0 - Secure AHB transfers; 1 - Non-Secure AHB transfers
	# [31] DbgSwEnable (Debug software access enable), OPTIONAL, IMPLEMENTATION DEFINED, RAZ if not implemented:
	#                0 - Debug software access is disabled.
	#                    If DeviceEn (CSW[6]) is 0b0, DbgSwEnable must be ignored and treated as one.
	#                1 - Debug software access is enabled.
	# ---
	# Ref.:
	# - Arm Debug Interface Architecture Specification ADIv5.0 to ADIv5.2 [ARM IHI 0031G (ID022122)]
	# - AMBA AHB Protocol Specification [ARM IHI 0033C (ID090921)]

	variable CSW_HPROT0_DATAINST   [expr {1 << 24}] ; # CSW[24]: HPROT[0] (Data/Inst)
	variable CSW_HPROT1_PRIVILEGED [expr {1 << 25}] ; # CSW[25]: HPROT[1] (Privileged)
	variable CSW_HPROT2_BUFFERABLE [expr {1 << 26}] ; # CSW[26]: HPROT[2] (Bufferable)
	variable CSW_HPROT3_CACHEABLE  [expr {1 << 27}] ; # CSW[27]: HPROT[3] (Modifiablee/Cacheable)
	variable CSW_HPROT4_LOOKUP     [expr {1 << 28}] ; # CSW[28]: HPROT[4] (Lookup)
	variable CSW_HPROT0TO3         [expr {$CSW_HPROT0_DATAINST | $CSW_HPROT1_PRIVILEGED | $CSW_HPROT2_BUFFERABLE | $CSW_HPROT3_CACHEABLE }] ; # 0x0F000000
	variable CSW_HPROT0TO4         [expr {$CSW_HPROT0TO3 | $CSW_HPROT4_LOOKUP}] ; # 0x1F000000
	variable CSW_HMASTER_AHB       [expr {1 << 29}] ; # CSW[29]: HMASTER ID for the AHB-AP
	variable CSW_HNONSEC           [expr {1 << 30}] ; # CSW[30]: HNONSEC (SPROT)
	variable CSW_DbgSwEnable       [expr {1 << 31}] ; # CSW[31]: DbgSwEnable

	###############################################################################
	# System Control Block (SCB) Registers
	###############################################################################

	variable CPUID                      0xE000ED00 ; # CPUID Base Register
	variable CPUID_IMPLEMENTER_MSK      0xFF000000 ; # CPUID [31:24] : IMPLEMENTER
	variable CPUID_IMPLEMENTER_ARM      0x41000000 ; # CPUID [31:24] == 0x41 : ARM
	variable VTOR                       0xE000ED08 ; # VTOR -  Vector Table Offset Register
	variable VTOR_TBLOFF_MSK            0xFFFFFF80 ; #         [31:7] TBLOFF
	variable AIRCR                      0xE000ED0C ; # AIRCR - Application Interrupt and Reset Control
	variable AIRCR_SYSRESETREQ_VAL      0x05FA0004 ; #         AIRCR_VECTKEY | AIRCR_SYSRESETREQ
	variable DHCSR                      0xE000EDF0 ; # DHCSR - Debug Halting Control and Status Register
	variable DHCSR_C_DEBUGEN            0x00000001 ; #         [1]  : C_DEBUGEN
	variable DHCSR_S_HALT               0x00020000 ; #         [17] : S_HALT
	variable DHCSR_S_SLEEP_MSK          0x00040000 ; #         [18] : S_SLEEP
	variable DHCSR_S_RESET_ST           0x02000000 ; #         [25] : S_RESET_ST
	variable DHCSR_DBGKEY_VAL           0xA05F0000 ; # DHCSR_DBGKEY_VAL
	variable DEMCR                      0xE000EDFC ; # DEMCR - Debug Exception and Monitor Control Register
	variable DEMCR_TRCENA               0x01000000 ; #         [24] TRCENA
	variable DEMCR_VC_CORERESET_VAL     0x01000001 ; #         [24] TRCENA | [0] VC_CORERESET
	variable DSCSR                      0xE000EE08 ; # DSCSR - Debug Security Control and Status Register
	variable DSCSR_CDS                  0x00010000 ; #         [16] : CDS, Current Domain Secure


}
