# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (C) 2024-2025, Infineon Technologies AG, or an affiliate of
# Infineon Technologies AG. All rights reserved.

# Subroutines for CAT1C category of microcontrollers.
# The definitions may be overwritten from the device-specific scripts.

namespace eval cat1c {

	source [find target/infineon/cat1/func_mxs40.cfg]
	namespace import ifx::*
	namespace import cat1::*
	namespace import mxs40::*

	# Enable all CM7_x cores for programming and debugging
	proc enable_cm7x {} {
		log_proc_entry

		# Skip initialization for `reset run` when the target is supposed to be running after reset
		if { $::RESET_MODE ne "run" } {

			if {$::ENABLE_CM70} {
				set CLK_ROOT_SELECT1     0x40261244 ;# SRSS -> CLK_ROOT_SELECT1
				set CPUSS_CM7_0_CTL      0x4020000C ;# CPUSS -> CPUSS_CM7_0_CTL
				set CPUSS_CM7_0_PWR_CTL  0x40201200 ;# CPUSS -> CPUSS_CM7_0_PWR_CTL
				enable_cm7x_core "CM7_0" $CLK_ROOT_SELECT1 $CPUSS_CM7_0_CTL $CPUSS_CM7_0_PWR_CTL
			}

			if {$::ENABLE_CM71} {
				set CLK_ROOT_SELECT2     0x40261248 ;# SRSS -> CLK_ROOT_SELECT2
				set CPUSS_CM7_1_CTL      0x4020040C ;# CPUSS -> CPUSS_CM7_1_CTL
				set CPUSS_CM7_1_PWR_CTL  0x40201210 ;# CPUSS -> CPUSS_CM7_1_PWR_CTL
				enable_cm7x_core "CM7_1" $CLK_ROOT_SELECT2 $CPUSS_CM7_1_CTL $CPUSS_CM7_1_PWR_CTL
			}

			if {$::ENABLE_CM72} {
				set CLK_ROOT_SELECT3     0x4026124C ;# SRSS -> CLK_ROOT_SELECT3
				set CPUSS_CM7_2_CTL      0x4020080C ;# CPUSS -> CPUSS_CM7_2_CTL
				set CPUSS_CM7_2_PWR_CTL  0x40201220 ;# CPUSS -> CPUSS_CM7_2_PWR_CTL
				enable_cm7x_core "CM7_2" $CLK_ROOT_SELECT3 $CPUSS_CM7_2_CTL $CPUSS_CM7_2_PWR_CTL
			}

			if {$::ENABLE_CM73} {
				set CLK_ROOT_SELECT4     0x40261250 ;# SRSS -> CLK_ROOT_SELECT4
				set CPUSS_CM7_3_CTL      0x40200C0C ;# CPUSS -> CPUSS_CM7_3_CTL
				set CPUSS_CM7_3_PWR_CTL  0x40201230 ;# CPUSS -> CPUSS_CM7_3_PWR_CTL
				enable_cm7x_core "CM7_3" $CLK_ROOT_SELECT4 $CPUSS_CM7_3_CTL $CPUSS_CM7_3_PWR_CTL
			}
		}

		log_proc_return
	}

	# Enables specific CM7_x core	
	#  cpuname      Displayed CPU/Core name
	#  reg_clk_sel  CLK_ROOT_SELECTx register address
	#  reg_cpu_ctl  CPUSS_CM7_x_CTL register address
	#  reg_pwr_ctl  CPUSS_CM7_x_PWR_CTL register address
	proc enable_cm7x_core {cpuname reg_clk_sel reg_cpu_ctl reg_pwr_ctl} {
		log_proc_entry

		# Skip CPU initialization for `reset run` mode, when the target is supposed to be running after reset
		if { $::RESET_MODE eq "run" } {
			log_proc_return
			return
		}

		set CLK_ROOT_SELECTx_ENABLE     0x80000000
		set CPU_WAIT_MSK                0x00000010
		set PWR_CTL_PWR_MODE_MSK        0x3
		set PWR_CTL_PWR_MODE_RESET      0x1
		set PWR_CTL_PWR_MODE_ENABLE     0x3
		set PWR_CTL_VECTKEYSTAT_WR      [expr {0x05FA << 16}]

		# Set and Enable HF clock via CLK_ROOT_SELECTx register
		# Write:  0x80000000 (ENABLE [31:31] = 1, DIRECT_MUX[8:8] = 0, ROOT_MUX [3:0] = 0, ROOT_DIV[5:4] = 0)
		# Note: Core clock must be running before accessing CPUSS_CM7_x_CTL and CPUSS_CM7_x_PWR_CTL registers
		# TODO: Check if we still need to write CLK_ROOT_SELECT for PSVP. The default value of CLK_ROOT_SELECTx
		#       register is 0, but we still can access CPU CTL and PWR registers on real TVII device.
		if {([info exists ::BOARD] && [string compare -nocase $::BOARD "psvp"] == 0) &&
			(([mrw $reg_clk_sel] & $CLK_ROOT_SELECTx_ENABLE) != $CLK_ROOT_SELECTx_ENABLE) } {
			echo "Info : Enabling clock for $cpuname CPU..."
			mww $reg_clk_sel $CLK_ROOT_SELECTx_ENABLE
		}

		# Enable CPU by debugger only if it is not initially enabled (PWR_MODE != "ENABLE")
		# or it is in a quiescent state (CPU_WAIT == 1)
		if { (([mrw $reg_pwr_ctl] & $PWR_CTL_PWR_MODE_MSK) != $PWR_CTL_PWR_MODE_ENABLE) ||
		     (([mrw $reg_cpu_ctl] & $CPU_WAIT_MSK) != 0) } {
			echo "Info : Enabling the $cpuname CPU..."

			# Enable DTCM, including RMW and DTCM AHB Slave Port
			# Default value: 0x0000001F : CPU_WAIT = 1, PPB_LOCK = 0xF
			# Modify fields:
			#   INIT_TCM_EN   [9:8] = 1*'b (TCM init: DTCM enabled)
			#   INIT_RMW_EN [11:10] = 1*'b (TCM RMW:  DTCM enabled)
			#   TCMC_EN     [23:23] =  1'b (Enable access to the CM7 I/D-TCM slave port (AHBS)
			# Do this only for reset init/halt and skip for attach (reset <mode> command was not (yet?) issued)
			if { $::RESET_MODE ne "attach" } {
				mww $reg_cpu_ctl [expr { [mrw $reg_cpu_ctl] | 0x00800A00 }]
			}

			# Reset core via CPUSS_CM7_x_PWR_CTL register
			# Write  : 0x05FA0001 (VECTKEYSTAT = 0x05FA (write value), PWR_MODE = 1 (RESET)
			# ("DBG_RSTOFF" -> CM7 is in a special state like in M4 based TVII, full return to "RESET" is prevented because of CSYSPWRUPREQ)
			mww $reg_pwr_ctl [expr {$PWR_CTL_VECTKEYSTAT_WR | $PWR_CTL_PWR_MODE_RESET}]
			sleep 3 ;# Wait, so CM7 Power FSM can reach new state

			# Enable core via CPUSS_CM7_x_PWR_CTL register
			# Default: 0xFA050000 (VECTKEYSTAT = 0xFA05 (read value),  PWR_MODE = 0 (OFF)
			# Write  : 0x05FA0003 (VECTKEYSTAT = 0x05FA (write value), PWR_MODE = 3 (ENABLED)
			mww $reg_pwr_ctl [expr {$PWR_CTL_VECTKEYSTAT_WR | $PWR_CTL_PWR_MODE_ENABLE}]
			sleep 3 ;# Wait, so CM7 Power FSM can reach new state

			# Clear CPU_WAIT, let CM7 execute the endless "WFI" loop in SROM
			# CPU_WAIT [4:4] = 0'b (Release the core from quiescent state)
			mww $reg_cpu_ctl [expr {[mrw $reg_cpu_ctl] & (~($CPU_WAIT_MSK)) }]
		}

		log_proc_return
	}

}
