# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (C) 2024-2026, Infineon Technologies AG, or an affiliate of
# Infineon Technologies AG. All rights reserved.

# Default configuration for PSOC™ Edge E81/E82/E83/E84 MCU series.
# The definitions can be overwritten from the device-specific file(s).

###############################################################################
# CPU cores availability for the debugger and the acquisition methods
###############################################################################

# Safe memory location for the endless loop instruction for CM55 initialization
set_or_global CM55_ENDLESS_LOOP_ADDR    0x3FF00

###############################################################################
# Timings
###############################################################################

# Reset Handshake - timeout for the debugger to poll the DAP after reset until
# SWJ pins are enabled and the DAP can respond to simple requests such as
# "Read IDCODE". For PSOC™ Edge E8, this is the secure boot execution time,
# which includes an integrity check for SE Services and Extended Boot, and
# depends on their sizes. Typically, it is <= 40ms, but the debugger waits
# longer to be on the safe side for corner cases, like using Power-Cycle.
set_or_global TIMEOUT_RESET_HANDSHAKE   100

# The additional timeout for the debugger to wait from when the SWJ pins became
# available to when the boot code starts the Listen Window.
# For PSOC™ Edge E8, this is the Extended Boot execution time until it starts
# the Listen Window. It depends on the size and location of the next app to
# be validated and loaded. 5000ms has to be enough for most scenarios.
# For PSOC 4, 6, and similar devices, this time is zero, since the boot code
# starts the Listen Window immediately after SWJ pins are enabled.
set_or_global TIMEOUT_BOOT_COMPLETE     5000
set_or_global ACQUIRE_TIMEOUT           1000
set_or_global TIMEOUT_USER_APP          5000

###############################################################################
# DAP and TAPs settings
###############################################################################

set_or_global SWJ_IRLEN                 8
set_or_global CPUTAPID                  0 ; # Disable TAP
set_or_global CPUID_CM33                0x411FD210
set_or_global CPUID_CM55                0x411FD221

###############################################################################
# Flash properties
###############################################################################

# PSOC™ Edge E8 MCU family contains up to 512 KB of nonvolatile Resistive Random-
# Access Memory (RRAM). The base address of the RRAM NVM in MCUs address space
# is 0x32000000 / 0x22000000 (Secure/Non-Secure S-AHB aliases).

# The programmable address range (user's area that can be safely used for the
# applications and custom data) may vary depending on the MCU security level.
# For PSE8xxGxS2 (EPC2) and PSE8xxGxS4 (EPC4) devices correspondingly:
#   0x32011000-0x32069FFF (0x22011000-0x22069FFF), SIZE = 0x59000 (356 KB)
#   0x32011000-0x3203FFFF (0x22011000-0x3203FFFF), SIZE = 0x2F000 (188 KB)

# While the default offset of the programmable area is 0x11000, users may free
# up to 28 KB of the additional space at the start of this area by replacing
# the extended boot image and setting the appropriate offset in the programming
# tools. This increases the available memory PSE8xxGxS2 and PSE8xxGxS4 devices:
#   0x3200A000-0x32069FFF (0x2200A000-0x22069FFF), SIZE = 0x60000 (384 KB)
#   0x3200A000-0x3203FFFF (0x2200A000-0x3203FFFF), SIZE = 0x35000 (212 KB)
set_or_global RRAM_MAIN_OFFSET          0x11000

# Refer to:
# - PSOC™ Edge MCU Programming Specification (002-37778) for the nonvolatile
#   memory subsystem description
# - Selecting and configuring memories for power and performance in PSOC™ Edge
#   MCU (AN239774) for the detailed memory map and guidance on the
#   applications and data storage selection.
# - Getting started with PSOC™ Edge security (AN237849) for the details of
#   replacing the extended boot image.

# Size of the reclaimed area - address range in PROTECTED_NVM area, reclaimed
# as continuous address space following the MAIN_NVM and has the same MPC
# config as the user area in MAIN_NVM. The common reclaimed sizes are:
#   168KB (0x2A000) - for PSE8xxGxS2 (EPC2 - Lite) devices
#   0KB   (0x00000) - for PSE8xxGxS4 (EPC4 - Standard) devices
# Programmable RRAM flash banks are calculated as follows:
#   START = RRAM_MAIN_BASE (0x02000000) + RRAM_MAIN_OFFSET
#   SIZE  = RRAM_MAIN_SIZE (0x00040000) - RRAM_MAIN_OFFSET + RRAM_MAIN_RECLAIMED
set_or_global RRAM_MAIN_RECLAIMED       0

# Flash programming algorithms
set_or_global RRAM_FLASHLOADER          ../flm/infineon/pse8xxgp/PSE84_RRAM_NVM.FLM
set_or_global QSPI_FLASHLOADER          ../flm/infineon/pse8xxgp/PSE84_SMIF.FLM

###############################################################################
# Adapter settings
###############################################################################

set_or_global ADAPTER_SPEED_JTAG        2000
set_or_global ADAPTER_SPEED_SWD         4000
set_or_global ADAPTER_SRST_DELAY        50

# KitProg3 acquisition sequence:         |- Target: 0xFE == Custom acquisition sequence for DAP Acquire (0x85) CMD
#                                        |   |- Set Acquire Parameters CMD (0x91)
#                                        |   |  Select DAP handshake type  (0x01)
#                                        |   |  JTAG to Dormant to SWD     (0x04)
#                                        |   |      |- SWD sequence
set_or_global KP3_ACQUIRE_TM_CMD        "254 910104 85FE000108A5A5A950000000B1F0000D00A30B0000028B52400400BB80000000BD"

###############################################################################
# Boot settings
###############################################################################

set_or_global BOOT_STATUS_ADDR          $SRAM_S_BASE
set_or_global BOOT_STATUS_LISTWND       0xAA00B5F8

set_or_global boot_status_codes {
	{ CYBOOT_SUCCESS                            0x0D50B002 }
	{ CYBOOT_BAD_PARAM                          0xBAF00001 }
	{ CYBOOT_FAILED                             0xBAF00002 }
	{ CYBOOT_BOOTROW_CORRUPTED                  0xBAF00010 }
	{ CYBOOT_LCS_UNEXPECTED                     0xBAF00011 }
	{ CYBOOT_NVM_INIT_FAILED                    0xBAF00020 }
	{ CYBOOT_OTP_READ_FAILED                    0xBAF00021 }
	{ CYBOOT_OTP_WRITE_FAILED                   0xBAF00022 }
	{ CYBOOT_NVM_READ_FAILED                    0xBAF00023 }
	{ CYBOOT_NVM_WRITE_FAILED                   0xBAF00024 }
	{ CYBOOT_TOC1_INVALID                       0xBAF00025 }
	{ CYBOOT_TOC2_INVALID                       0xBAF00026 }
	{ CYBOOT_SHA256_CALC_FAILED                 0xBAF00027 }
	{ CYBOOT_ASSET_HASH_INVALID                 0xBAF00028 }
	{ CYBOOT_FACTORY_HASH_INVALID               0xBAF00029 }
	{ CYBOOT_SECURE_HASH_INVALID                0xBAF0002A }
	{ CYBOOT_PUB_KEY_ACCESS_FAILED              0xBAF00030 }
	{ CYBOOT_SIGNATURE_INVALID                  0xBAF00031 }
	{ CYBOOT_MEMORY_AREA_INVALID                0xBAF00032 }
	{ CYBOOT_TLV_INVALID                        0xBAF00033 }
	{ CYBOOT_TLV_NO_MORE_FOUND                  0xBAF00034 }
	{ CYBOOT_CLOCK_INIT_FAILED                  0xBAF00040 }
	{ CYBOOT_PWR_PROFILE_TRANSITION_FAILED      0xBAF00041 }
	{ CYBOOT_BISR_FAILED                        0xBAF00042 }
	{ CYBOOT_BASIC_TRIM_FAILED                  0xBAF00043 }
	{ CYBOOT_FULL_TRIM_FAILED                   0xBAF00044 }
	{ CYBOOT_SYSCPUSS_START_FAILED              0xBAF00045 }
	{ CYBOOT_PROT_MPC_CFG_FAILED                0xBAF00050 }
	{ CYBOOT_PROT_PPC_CFG_FAILED                0xBAF00051 }
	{ CYBOOT_WOUNDING_FAILED                    0xBAF00052 }
	{ CYBOOT_SAFE_MODE_ENTRY                    0x0D500060 }
	{ CYBOOT_DFT_EN_ENTRY                       0x0D500061 }
	{ CYBOOT_DLM_LOAD                           0x0D500070 }
	{ CYBOOT_DLM_VERIFY                         0x0D500071 }
	{ CYBOOT_DLM_RUN                            0x0D500072 }
	{ CYBOOT_DLM_PKG_INVALID                    0xBAF00073 }
	{ CYBOOT_DEBUG_TOKEN_LOAD                   0x0D500080 }
	{ CYBOOT_DEBUG_TOKEN_VALID                  0x0D500081 }
	{ CYBOOT_DEBUG_TOKEN_INVALID                0xBAF00082 }
	{ CYBOOT_DEBUG_POLICY_INVALID               0xBAF00083 }
	{ CYBOOT_CM33_L1_BOOT_INVALID               0xBAF00090 }
	{ CYBOOT_SE_RTS_BASE_INVALID                0xBAF00091 }
	{ CYBOOT_SE_RTS_INVALID                     0xBAF00092 }
}
