# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (C) 2024-2026, Infineon Technologies AG, or an affiliate of
# Infineon Technologies AG. All rights reserved.

# Subroutines for PSOC™ Edge E81/E82/E83/E84 MCU series.
# The definitions in this file can override the upper-level, category-based definitions.
# The definitions in this file can also be overwritten from the device-specific scripts.

namespace eval cat1d::pse84 {

	namespace import ::arm::*
	namespace import ::ifx::*

	# Enables CM55, which is turned off after reset and requires following initialization for debugging:
	# 1. Power up: set dependency between SYSTEM and APPCPUSS_CORE0 power domains to power up the core region:
	#    Write to PD_ON field in Power Domain Dependency Sense Register (PWRMODE->PWRMODE_PD6->PD_SENSE).
	# 2. Enable debugging for the M55APPCPUSS by writing following bits to APPCPUSS_AP_CTL register:
	#    [0] CM55_0_ENABLE     Enables the CM55_0 AP interface:
	#    [4] CM55_0_DBG_ENABLE Enables invasive debug features.
	#    [5] CM55_0_NID_ENABLE Enables all trace and non-invasive debug features.
	# Normally, this is done by the CM33 application (cm33_ns or cm33_s) by calling `Cy_SysEnableCM55` or in the boot code.
	# If not done (e.g. CM33 application hasn't started or did not call `Cy_SysEnableCM55` yet),
	# the debugger has to do it on its own, via AP-CM33.
	proc enable_cpu_cm55_domain {} {
		log_proc_entry

		if {$::ENABLE_CM55 && ![info exists ::do_not_touch_cm55]} {
			push_log_settings
			set tgt $::CHIPNAME.cm33
			set pd_sense_addr [addr_to_sorns $tgt $::POWER_DOMAIN_CM55_REG]
			set ap_ctrl_addr  [addr_to_sorns $tgt $::APPCPUSS_AP_CTL]

			if [ catch {
				set pd_sense [read32 $tgt $pd_sense_addr]
				set ap_ctrl  [read32 $tgt $ap_ctrl_addr]

				if [ catch {
					if {[ expr {($pd_sense & $::POWER_DOMAIN_CM55_ON_VAL) != $::POWER_DOMAIN_CM55_ON_VAL} ]} {
						echo "Info : \[$tgt\] Configuring CM55 power dependencies"
						write32 $tgt $pd_sense_addr [expr {$pd_sense | $::POWER_DOMAIN_CM55_ON_VAL}]
					}

					if {[ expr {($ap_ctrl & $::APPCPUSS_AP_CTL_CM55_EN) != $::APPCPUSS_AP_CTL_CM55_EN} ]} {
						echo "Info : \[$tgt\] Enabling CM55 debug features"
						write32 $tgt $ap_ctrl_addr [expr {$ap_ctrl | $::APPCPUSS_AP_CTL_CM55_EN}]
					}
				}] { echo "Warn : \[$tgt\] Cannot write CM55 power control registers" }

			} ] { echo "Info : \[$tgt\] Cannot read CM55 power control registers - skipping setup" }

			pop_log_settings
		}

		log_proc_return
	}

}
