# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (C) 2024-2025, Infineon Technologies AG, or an affiliate of
# Infineon Technologies AG. All rights reserved.

# Memory and Registers Map for CAT1D category of microcontrollers.
# The definitions can be overwritten from the device-specific memory files

# For now, all the default and common registers are defined in the
# family-specific memory file. But this may change in the future upon
# adding new families within the CAT1D category of devices.
