# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (C) 2024-2026, Infineon Technologies AG, or an affiliate of
# Infineon Technologies AG. All rights reserved.

# Memory and Registers Map for PSOC™ Edge E81/E82/E83/E84 MCU series.
# The definitions can be overwritten from the device-specific memory files

###############################################################################
# Base Memory Map
###############################################################################

set_or_global SRAM_NS_BASE              0x24000000
set_or_global SRAM_S_BASE               0x34000000
set_or_global SRAM_SIZE                 0x00100000 ; # SRAM0 + SRAM1
set_or_global RRAM_MAIN_BASE            0x22000000
set_or_global RRAM_MAIN_BASE_CBUS       0x02000000
set_or_global RRAM_MAIN_SIZE            0x00040000

###############################################################################
# Device registers
###############################################################################

set_or_global MXCM33_CM33_CTL           0x42260000 ; # MXCM33->CM33_CTL
set_or_global MXCM33_CM33_CMD           0x42260004 ; # MXCM33->CM33_CMD
set_or_global MXCMxx_CMxx_CMD_RESET     0x05FA0001

set_or_global POWER_DOMAIN_CM55_REG     0x42410060 ; # PWRMODE->PWRMODE_PD6->PD_SENSE (Power Domain Dependency Sense Register)
set_or_global POWER_DOMAIN_CM55_ON_VAL  0x00000010 ; # PD_SENSE->PD_ON_CM55
set_or_global SYS_PPC_PPC_CTL           0x52020000 ; # SYS_MMIO->SYS_MMIO0->PERI->PPC->PPC->CTL (PPC_PPC_CTL: PPC Control Registers)
set_or_global APP_PPC_PPC_CTL           0x54020000 ; # APP_MMIO->APP_MMIO0->PERI->PPC->PPC->CTL (PPC_PPC_CTL: PPC Control Registers)
set_or_global PPC_PPC_CTL_RESP_CFG_MSK  0x00000001 ; # PPC_PPC_CTL.RESP_CFG (Response Configuration: 0 - RZWI, 1 - Bus Error)

set_or_global MXCM55_CM55_CTL           0x54160000 ; # APP_MMIO->APPCPUSS->MXCM55->CM55_CTL
set_or_global MXCM55_CM55_CMD           0x54160004 ; # APP_MMIO->APPCPUSS->MXCM55->CM55_CMD
set_or_global APPCPUSS_AP_CTL           0x441C1000 ; # APP_MMIO->APPCPUSS->APPCPUSS_IP->AP_CTL
set_or_global APPCPUSS_AP_CTL_CM55_EN   0x00000031 ; # [ CM55_0_NID_ENABLE | CM55_0_DBG_ENABLE | CM55_0_ENABLE ]

# Test Mode Control Register
# Field TEST_MODE (bit[31], 0x80000000) indicates the chip operational mode:
# 1 - Test mode. 0 - Normal operation mode
set_or_global TST_MODE                  0x52400400
set_or_global TST_MODE_TEST_MODE        0x80000000

# Debug Control Register
# Field WFA (bit[31], 0x80000000): Wait for Action.
# Set by BootROM when it waits for application or debug certificate to be
# loaded into the RAM. The bit must be cleared to continue BootROM operation.
set_or_global BOOT_DLM_CTL              0x52400404
set_or_global BOOT_DLM_CTL_WFA          0x80000000

# Debug Control Register 2
# Holds address of application descriptor or debug certificate
set_or_global BOOT_DLM_CTL2             0x52400408

# Soft Reset Trigger Register
# Field TRIGGER_SOFT (bit[0]): Triggers a soft reset. The reset clears this bit.
set_or_global RES_SOFT_CTL              0x52400410

# Debug Status Register
# RAM application execution status or debug certificate validation status.
set_or_global BOOT_DLM_STATUS           0x5240040C

# BOOT_STATUS: Boot Execution Status Register
set_or_global BOOT_STATUS               0x52400418

# Life-Cycle data
set_or_global DECODED_LCS_DATA          0x52400440

# Device identification registers
set_or_global DEVICE_ID_TO_ADDR         0x03C2B00E
set_or_global DEVICE_ID_MPN_ADDR        0x03C2B015
set_or_global L0_VERSION_ADDR           0x03C2B01B
set_or_global L1_VERSION_ADDR           0x03C2B02F
