# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (C) 2019-2025, Infineon Technologies AG, or an affiliate of
# Infineon Technologies AG. All rights reserved.

# Configuration script for PAG2S family of microcontrollers.

puts "********************************************************************************"
puts "* !!! OBSOLETE target 'pag2s.cfg' - will be removed soon.                      *"
puts "* Use 'infineon/pag2s.cfg' target instead.                                     *"
puts "********************************************************************************"

source [find target/infineon/pag2s.cfg]
