# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (C) 2024-2026, Infineon Technologies AG, or an affiliate of
# Infineon Technologies AG. All rights reserved.

# Default configuration file for PSC3 family of microcontrollers.
# The definitions can be overwritten from the device-specific configuration
# file(s)

###############################################################################
# CPU cores availability for the debugger and the acquisition methods
###############################################################################

set_or_global ENABLE_CM33               1
set_or_global ENABLE_ACQUIRE            1

# Possible values of DEBUG_CERTIFICATE_RQST in WFA procedure
set_or_global OEM_DBG_RQST              0x02
set_or_global PROT_FW_DBG_RQST          0x03
set_or_global DEBUG_CERTIFICATE_RQST    $OEM_DBG_RQST

###############################################################################
# Timings
###############################################################################

# Reset Handshake - timeout for the debugger to poll the DAP after reset until
# SWJ pins are enabled and the DAP can respond to simple requests such as
# "Read IDCODE".
# For PowerCycle, timeout depends on the design schematic and must be longer.
set_or_global TIMEOUT_RESET_HANDSHAKE   100

# Boot Complete - absoulte timeout for bootcode completion 
# Boot time is in range 2..500ms depending on LCS, warm/cold boot an other
# factors, excluding listen windows (<100ms)
set_or_global TIMEOUT_BOOT_COMPLETE     1200

# WFA_TIMEOUT - timeout to check debug certificate or set WFA bits
set_or_global WFA_TIMEOUT               3500

# The additional timeout for the debugger to wait from when the SWJ pins became
# available to when the boot code starts the Listen Window.
set_or_global ACQUIRE_TIMEOUT           1000

###############################################################################
# DAP and TAPs settings
###############################################################################

set_or_global SWJ_IRLEN                4

# DP->SELECT: AP Select register
set_or_global AP_SEL_SYS               0xF0000000
set_or_global AP_SEL_CM33              0xF0002000

# AP->CSW: Control/Status Word register
if {$DEVICE != "a0"} {
set_or_global AP_CSW_SYS               [expr {$arm::CSW_HPROT0_DATAINST   | \
                                              $arm::CSW_HPROT1_PRIVILEGED}] ; # 0x03000000
} else {
set_or_global AP_CSW_SYS               [expr {$arm::CSW_HPROT0_DATAINST   | \
                                              $arm::CSW_HPROT1_PRIVILEGED | \
                                              $arm::CSW_HPROT3_CACHEABLE}]  ; # 0x0B000000 (no async bridge in A0)
}
set_or_global AP_CSW_CM33              [expr {$arm::CSW_HPROT0_DATAINST   | \
                                              $arm::CSW_HPROT1_PRIVILEGED | \
                                              $arm::CSW_HPROT3_CACHEABLE}]  ; # 0x0B000000


###############################################################################
# Adapter settings
###############################################################################

set_or_global ADAPTER_SPEED             2000
set_or_global ADAPTER_SRST_DELAY        50

# KitProg3 acquisition sequence:  |- Target: 0xFE == Custom acquisition sequence for DAP Acquire (0x85) CMD
#                                 |   |- Set Acquire Parameters CMD (0x91)
#                                 |   |  Select DAP handshake type  (0x01)
#                                 |   |  JTAG to Dormant to SWD     (0x04)
#                                 |   |                  
#                                 |   |      |-Set Acquire Parameters CMD (0x91)
#                                 |   |      | Set Acquire Timeout        (0x00)
#                                 |   |      | Timeout is seconds         (0x05)
#                                 |   |      |
#                                 |   |      |      |- SWD sequence with                          TST_MODE_REQ address
#                                 |   |      |      |                                             |         TST_MODE value
#                                 |   |      |      |                                             |         |
set_or_global KP3_ACQUIRE_TM_CMD "254 910104 910005 85FE000108A5A5A950000000B1F0000D00A30B0000028B52200400BB80000000BD"

# Reset types supported for Software TestMode acquisition
# Note: XRES is the most desirable type of reset for TestMode acquisition
set_or_global SOFT_TM_RESET_TYPES {"XRES" "SOFT"}
set_or_global SOFT_TM_RESET_NUM 2

###############################################################################
# Flash properties and working area
###############################################################################

set_or_global WORKAREAADDR              $SRAM_S_BASE
set_or_global WORKAREASIZE              0x4000

###############################################################################
# Boot settings
###############################################################################

set_or_global boot_status_codes {
	{ CYBOOT_SUCCESS                            0x0D50B002 }
	{ CYBOOT_SUCCESS_1                          0x05501000 }
	{ CYBOOT_SUCCESS_2                          0x0800A002 }
	{ CYBOOT_BAD_PARAM                          0xBAF00001 }
	{ CYBOOT_LOCKED                             0xBAF00002 }
	{ CYBOOT_STARTED                            0xBAF00003 }
	{ CYBOOT_FINISHED                           0xBAF00004 }
	{ CYBOOT_CANCELED                           0xBAF00005 }
	{ CYBOOT_TIMEOUT                            0xBAF00006 }
	{ CYBOOT_NOT_IMPLEMENTED                    0xBAF00007 }
	{ CYBOOT_FAILED                             0xBAF00008 }
	{ CYBOOT_L1_APP_DESCR_INVALID               0xBAF00011 }
	{ CYBOOT_SERV_APP_DESCR_INVALID             0xBAF00013 }
	{ CYBOOT_BOOTROW_READ_FAILED                0xBAF00020 }
	{ CYBOOT_BOOTROW_CORRUPTED                  0xBAF00021 }
	{ CYBOOT_OTP_INIT_FAILED                    0xBAF00022 }
	{ CYBOOT_OTP_READ_FAILED                    0xBAF00023 }
	{ CYBOOT_OTP_WRITE_FAILED                   0xBAF00024 }
	{ CYBOOT_OTP_SMIF_CFG_INVALID               0xBAF00025 }
	{ CYBOOT_ASSET_FACTORY_HASH_INVALID         0xBAF00026 }
	{ CYBOOT_PROT_FW_HASH_INVALID               0xBAF00027 }
	{ CYBOOT_SECURE_HASH_INVALID                0xBAF00028 }
	{ CYBOOT_PUBKEY_REQUEST_FAILED              0xBAF00030 }
	{ CYBOOT_PUBKEY_FORMAT_INVALID              0xBAF00031 }
	{ CYBOOT_PUBKEY_VALIDATION_FAILED           0xBAF00032 }
	{ CYBOOT_PUBKEY_HASH_PTE_INVALID            0xBAF00033 }
	{ CYBOOT_PUBKEY_HASH_ICV_INVALID            0xBAF00034 }
	{ CYBOOT_PUBKEY_HASH_OEM_INVALID            0xBAF00035 }
	{ CYBOOT_APP_VALIDATION_FAILED              0xBAF00036 }
	{ CYBOOT_APP_LAUNCH_ADDR_INVALID            0xBAF00037 }
	{ CYBOOT_SIGNATURE_INVALID                  0xBAF00038 }
	{ CYBOOT_MCUBOOT_INTERNAL_ASSERT            0xBAF00039 }
	{ CYBOOT_RAM_APP_FORMAT_INVALID             0xBAF0003A }
	{ CYBOOT_FLASH_WRITE_DATA_CHECK_FAILED      0xBAF00049 }
	{ CYBOOT_FLASH_TRIM_INVALID                 0xBAF0004A }
	{ CYBOOT_FLASH_INIT_FAILED                  0xBAF0004B }
	{ CYBOOT_FLASH_ADDR_INVALID                 0xBAF0004C }
	{ CYBOOT_FLASH_PARAM_INVALID                0xBAF0004D }
	{ CYBOOT_FAULT_UNEXPECTED                   0xBAF0004E }
	{ CYBOOT_SFLASH_WRITE_FAILED                0xBAF0004F }
	{ CYBOOT_NUM_ZEROS_0_INVALID                0xBAF00050 }
	{ CYBOOT_NUM_ZEROS_1_INVALID                0xBAF00051 }
	{ CYBOOT_NUM_ZEROS_2_INVALID                0xBAF00052 }
	{ CYBOOT_NUM_ZEROS_3_INVALID                0xBAF00053 }
	{ CYBOOT_NUM_ZEROS_KEY_0_HASH_INVALID       0xBAF00054 }
	{ CYBOOT_NUM_ZEROS_KEY_1_HASH_INVALID       0xBAF00055 }
	{ CYBOOT_NUM_ZEROS_ASSET_HASH_INVALID       0xBAF00056 }
	{ CYBOOT_NUM_ZEROS_FACTORY_HASH_INVALID     0xBAF00057 }
	{ CYBOOT_NUM_ZEROS_SECURE_HASH_INVALID      0xBAF00058 }
	{ CYBOOT_NUM_ZEROS_PROT_FW_HASH_INVALID     0xBAF00059 }
	{ CYBOOT_NEXT_APP_LAUNCHED                  0x0D500067 }
	{ CYBOOT_IDLE_BRANCH_REACHED                0x0D500068 }
	{ CYBOOT_PROT_APP_SECT_VERIF_FAILED         0x0D500077 }
	{ CYBOOT_PROT_MPC_CFG_FAILED                0x0D500078 }
	{ CYBOOT_PROT_PPC_CFG_FAILED                0x0D500079 }
	{ CYBOOT_PROT_MS_CTL_CFG_FAILED             0x0D50007B }
	{ CYBOOT_DEBUG_TOKEN_VERIF_FAILED           0x0D50007C }
	{ CYBOOT_WFA_POLLING                        0x0D500080 }
	{ CYBOOT_SERVICE_APP_LAUNCHED               0x0D500081 }
	{ CYBOOT_SERVICE_APP_NOT_LAUNCHED           0x0D500082 }
	{ CYBOOT_WFA_REQUEST_INVALID                0x0D500083 }
	{ CYBOOT_DEBUG_TOKEN_PASSED                 0x0D500084 }
	{ CYBOOT_DEBUG_TOKEN_FAILED                 0x0D500085 }
	{ CYBOOT_DEBUG_POLICY_INVALID               0xBAF00086 }
	{ CYBOOT_SHA_INIT_FAILED                    0xBAF00090 }
	{ CYBOOT_SHA_CALC_FAILED                    0xBAF00091 }
	{ CYBOOT_IMG_INVALID                        0xBAF000A0 }
	{ CYBOOT_FLASH_AREA_INVALID                 0xBAF000AD }
	{ CYBOOT_TLV_INVALID                        0xBAF000AE }
	{ CYBOOT_TLV_NO_MORE_FOUND                  0xBAF000AF }
	{ CYBOOT_NO_BOOT_IMAGE_FOUND                0xBAF000A1 }
	{ CYBOOT_TLV_SEC_COUNTER_NOT_FOUND          0xBAF000A2 }
	{ CYBOOT_TLV_SEC_COUNTER_INVALID            0xBAF000A3 }
	{ CYBOOT_IMG_FLASH_ECC_NC_FAULT             0xBAF000A4 }
	{ CYBOOT_INVALID_DFU_PINS_CONFIGURATION     0xBAF000B0 }
	{ CYBOOT_DFU_INIT_FAILED                    0xBAF000B1 }
	{ CYBOOT_DFU_UNEXPECTED_STATE               0xBAF000B2 }
	{ CYBOOT_DFU_CYLIB_UNEXPECTED_FAILURE       0xBAF000B3 }
	{ CYBOOT_DFU_INVALID_PC                     0xBAF000B4 }
	{ CYBOOT_DFU_RAM_APP_LAUNCHED               0xBAF000B5 }
	{ CYBOOT_FULL_TRIMS_SIZE_INVALID            0xBAF000C0 }
	{ CYBOOT_SIGNATURE_COUNTER_REACHED_ZERO     0xBAF000C1 }
}
